body { background-color: #292C33; color: #ccc; }

ul { margin: 0; padding: 0;}
li { list-style: none;}
img { max-width: 100%;}

input, textarea { -webkit-appearance: none; background-color: #343841;}
.clearboth { clear: both;}
.form-control { background-color: #343841; border-color: #40444F; color: #fff;}

.form-control:focus + .input-group-btn > .btn{ box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); border-color: #66afe9; }
.form-control + .input-group-btn > .btn{ transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}

.btn-default { background-color: #2776C5; border-color: #40444F; color: #fff;}
.btn-default:hover { background-color: #1260D9; color: #fff; border-color: #40444F;}
.btn-default:active { background-color: #1260D9 !important; color: #fff; border-color: #40444F;}


.aligncenter { text-align: center; }

.box.expand-transition, .box { 
	/*padding: 4px; 
	background-color: #f4f4f4; */
	/*border: 1px solid #d4d4d4; 
	overflow: hidden;
	border-radius: 4px; */
	margin-bottom: 20px; 
	padding: 0;
}

.container { min-width: 320px;}
.pagi { text-align: center;}
.nowrap { white-space: nowrap;}
.mgb15 { margin-bottom: 15px;}

h1 { 
	font-size: 24px; 
	text-align: center; 
}

h1, h2, h3, h4, h5, h6 { font-weight: 300; color: #fff; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);}

.btn-default.focus, .btn-default:focus {
    background-color: #fff;
    border-color: #CCCCCC;
    color: #333333;
}

.input-group, .list-group { box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.15); }

a.list-group-item:focus, 
a.list-group-item:hover, 
a.list-group-item:active, 
button.list-group-item:focus, 
button.list-group-item:hover { background-color: #2C5C90 !important; color: #fff !important;}
button.list-group-item:active { background-color: #1260D9 !important;}

.list-group-item { border-color: #40444F; background-color: #343841; position: relative;}
.list-group-item img { width: 100%; max-width: 150px; float: left; margin-right: 15px;}
.list-group-item .desc { overflow: hidden;}


.list-group-item.in_item .desc { overflow: visible; }

[v-cloak] {
  display: none;
}
#app.container { min-height: 100vh; box-sizing: border-box; padding-bottom: 50px; position: relative; }

h1 > img, h1 > span { margin-bottom: 5px; font-weight: 100; }

header {
	margin-top: 10px;
	-webkit-transform: translateY(30vh);
	transform: translateY(30vh);
	-webkit-transition: transform 0.2s ease;
	transition: transform 0.2s ease;
}
header.finded {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
footer { position: absolute; z-index: 2; bottom: 0; left: 0; right: 0; margin: auto; text-align: center;}

/* always present */
.expand-transition {
  transition: opacity 0.2s ease 0.2s;
  height: 100%;
  padding: 10px;
}
/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0;
}

.page_count { margin-top: 5px; }
.date { color: #2776c5; font-size: 12px;}


@media (max-width: 480px) {
	h1 { font-size: 20px;}

	#app.container { padding-left: 7px; padding-right: 7px;}


	.list-group-item.list_item { height: 160px; overflow: hidden;}
	.list-group-item.list_item img { max-width: 100%; position: absolute; top: -30%; left: 0; top: 0; z-index: 1; margin: 0;}
	.list-group-item.list_item .desc { 
		position: absolute; z-index: 2; padding: 70px 10px 10px; margin: auto; left: 0; right: 0; bottom: 0; top: 0;
		
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 38%, rgba(0,0,0,0.8) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 38%,rgba(0,0,0,0.8) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 38%,rgba(0,0,0,0.8) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );

	}
}