<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue.js TheMovieDB search | shure348 (c)</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
	<div id="app" class="container">

		<header v-bind:class="[ searchResult.total_results >= 0 || searchResult.id ? 'finded' : '' ]">
			<h1><img src="img/logo.png" alt=""> <span class="nowrap">vue.js TheMovieDB search app</span></h1>
			<!-- <p>Вы ищите {{ query }}</p> -->

			<div class="box input-group">
				<input v-model="query" class="form-control" >
				<span class="input-group-btn">
					<button v-on:click="searchQuery" class="btn btn-default">Искать</button>
				</span>
			</div>
		</header>
		
		<div v-if="searchResult['total_results'] > 0" transition="expand" class="box">
			<div class="list-group">
				<a v-for="item in searchResult['results']" class="list-group-item clearfix" v-on:click="openItem(item.id)">

					<img v-if="item.poster_path" src="{{thumb}}{{item.poster_path}}" alt="{{item.title}}"/>
					<img v-else src="/img/dummy.png" alt="{{item.title}}"/>
					
					<div class="desc">
						<h4>{{item.title}} <small>({{ item.original_title }})</small></h4>
						<p class="date">{{item.release_date}}</p>
					</div>
			
						
					<!-- <p><small>{{ item.overview}}</small></p> -->
					<!-- <a href="#" class="btn btn-primary" role="button">Подробнее</a>  -->
				</a>
			</div>

			<div class="aligncenter">
				<div v-if="searchResult['total_pages'] > 1" class="btn-group pagi" role="group" aria-label="First group">
					<button v-on:click="pageGo( 1 )" class="btn btn-default" type="button">«</button>
					<button v-on:click="pagiPrev" class="btn btn-default" type="button">‹</button>

					<button v-for="index in pagination['numList']" v-on:click="pageGo( index )" class="btn btn-default"  v-bind:class="[ currentPage == index ? 'active' : '']"  type="button">{{ index }}</button>

					<button v-on:click="pagiNext" class="btn btn-default" type="button">›</button>
					<button v-on:click="pageGo( searchResult['total_pages'] )" class="btn btn-default" type="button">»</button>
				</div>
				
			</div>
			
			<div class="page_count aligncenter">
				<small>
					Объектов: {{ searchResult.total_results }},
					Страниц: {{ searchResult.total_pages }} 
				</small>
			</div>
		</div>

		<div v-if="searchResult['id']" transition="expand" class="box">
			<div class="list-group">
				<div class="list-group-item clearfix">
					<img v-if="searchResult.poster_path" src="{{thumb}}{{searchResult.poster_path}}" alt="{{searchResult.title}}"/>

					<div class="desc">
						<h2>{{searchResult.title}} <small>({{ searchResult.original_title }})</small></h2>
						<p class="date">{{searchResult.release_date}}</p>
						<ul class="mgb15">
							<li v-for="genre in searchResult['genres']">- {{ genre.name }}</li>
						</ul>
						<p>{{searchResult.overview}}</p>
					</div>
				</div>
			</div>
		</div>

		<div v-if="searchResult['total_results'] == 1" transition="expand" class="box">
			<h2>Найден 1 фильм</h2>
		</div>

		<p v-if="errorMsg" transition="expand">{{ errorMsg }}</p>
			
		<footer>
			<p><small>2016 © shure348</small></p> 
		</footer>
	
	</div>

	<script src='http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.8/vue.js'></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.16/vue-resource.min.js'></script>
	<script src="js/app.js"></script>
</body>
</html>